<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true">

  <!-- liste des Targets : https://nlog-project.org/config/?tab=targets -->
  <targets>
    <!-- Sortie dans un fichier de log -->
    <target name="logfile" xsi:type="File" 
            fileName="${var:LogPath}\Hulkey.log" 
            deleteOldFileOnStartup="true"
            layout="${longdate}|${level:uppercase=true}|${identity}|${message}|${exception:format=tostring}"/>
    <!-- Sortie dans la console avec couleur -->
    <target name="logcoloredconsole" xsi:type="ColoredConsole" 
            layout="${time}|${level:uppercase=true}|${message}|${exception:format=tostring}"/>
    <!-- Sortie dans Visual Studio -->
    <target name="logtrace" xsi:type="Trace"             
            layout="${time}|${level:uppercase=true}|${message}|${exception:format=tostring}"/>

    <!-- Sortie dans l'application     -->  
    <!--<target name="ApplicationNLogTarget" xsi:type="ApplicationNLogTarget"
            layout="${message} | ${exception:format=tostring}"/>-->
      

  </targets>

<!--
  Niveau de trace : 
  Trace - very detailed logs, which may include high-volume information such as protocol payloads.This log level is typically only enabled during development
  Debug - debugging information, less detailed than trace, typically not enabled in production environment.
  Info - information messages, which are normally enabled in production environment
  Warn - warning messages, typically for non-critical issues, which can be recovered or which are temporary failures
  Error - error messages - most of the time these are Exceptions
  Fatal - very serious errors!

  Reduction du niveau de log : 
  par exemple, minlevel = Debug
  seul les traces de niveau Debug à Fatal sont mis dans le log
  -->
  <rules>
    <!-- ACTIVATION DE Sortie dans un fichier de log -->
    <logger name="*" minlevel="Trace" writeTo="logfile" />
    
    <!-- ACTIVATION DE Sortie Visual Studio -->
    <logger name="*" minlevel="Trace" writeTo="logtrace" />

    <!-- ACTIVATION DE Sortie dans la console
    <logger name="*" minlevel="Trace" writeTo="logcoloredconsole" />-->

    <!-- ACTIVATION DE Sortie Application -->     
    <!--<logger name="*" minlevel="Trace" writeTo="ApplicationNLogTarget" />-->

  </rules>
</nlog>